@model IEnumerable<RestaurantMenuSystem.Models.AdminMenuModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>*@
            
            <th>


                Image
                @*<img src="/Image/"+model.ImageName alt="Your Image" />

                <img src="@("~/image/"+Model.ImageName)"  width="250px" height="250px" />*@

            </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            
                <a asp-action="Create" class="btn btn-dark">Add Item</a>
            
        </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>*@
            <th>
                @*<img src="/Image/" + item.ImageName alt="Your Image" />*@
                <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="200px" height="200px" />

            </th>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
              
                <a class="btn btn-dark btn-group-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
