@model IEnumerable<RestaurantMenuSystem.Models.AdminMenuModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h4 class="text=center"> Admin Menu </h4>
    </div>
    <div class="col-2">
        <a  asp-action="Create" class="btn btn-dark"> Add New Item </a>
    </div>
</div>



<div class="card-deck">

    @foreach (var item in Model)
    {
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">

            <img src="@("~/image/"+item.ImageName)" class="card-img-top" asp-append-version="true" width="200px" height="200px" />
            <div class="card-body">
                <h5 class="card-title text-center"> @Html.DisplayFor(modelItem => item.Name) </h5>
                <p class="card-text text-center">  @Html.DisplayFor(modelItem => item.Description) </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"> Rs @Html.DisplayFor(modelItem => item.Price) </li>
                <li class="list-group-item text-center"> <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>  
                <a class="btn btn-dark btn-group-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id" class="card-link"> Details </a></li>
               
            </ul>
            
        </div>
    }

</div>





